.sucess{
 color: green;
}
.failed{
    color: red;
}
.student table{
  border:1px solid black;
  width: 200px;
  border-collapse: collapse;
  margin-bottom: 20px;
    
}
.student table td,.student table th{
      border: 1px solid black;
}